<div ng-controller="TextsCtrl">
    <h3>Testin nimi</h3>
    <input type="text" class="form-control" ng-model="getTest().title">

    <h3>Kuvaussivun teksti</h3>
    <tabset>
        <tab heading="Muokkaus">
            <div>
                <textarea class="form-control" rows="15" ng-model="getTest().descriptionPageText"></textarea>
            </div>
        </tab>
        <tab heading="Esikatselu">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 300px;">
                    <p class="lead" marked="getTest().descriptionPageText">
                    </p>
                </div>
            </div>
        </tab>
    </tabset>

    <h3>Väitesivujen aputeksti</h3>
    <tabset>
        <tab heading="Muokkaus">
            <div>
                <textarea class="form-control" rows="15" ng-model="getTest().testPagesText"></textarea>
            </div>
        </tab>
        <tab heading="Esikatselu">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 300px;">
                    <p class="lead" marked="getTest().testPagesText">
                    </p>
                </div>
            </div>
        </tab>
    </tabset>

    <h3>Tulossivun teksti</h3>
    <tabset>
        <tab heading="Muokkaus">
            <div>
                <textarea class="form-control" rows="15" ng-model="getTest().interpretationPageText"></textarea>
            </div>
        </tab>
        <tab heading="Esikatselu">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 300px;">
                    <p class="lead" marked="getTest().interpretationPageText">
                    </p>
                </div>
            </div>
        </tab>
    </tabset>
</div>
