<div ng-controller="EditCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1 ng-show="isNew()">Uusi testi</h1>
            <h1 ng-hide="isNew()">Muokkaa testiä</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <dl class="dl-horizontal">
                    <dt>Testin nimi</dt>
                    <dd><span editable-text="test.title">{{test.title}}</span></dd>
                </dl>
            </div>
        </div>
    </div>
</div>