<div ng-controller="RemindCtrl">
    <div class="jumbotron">
        <a ui-sref="index" class="home">Pääsivulle</a>
        <div class="container">
            <h1>Uusi salasana</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="lead">
                    Lomakkeen täyttämällä ja lähettämällä saat sähköpostiisi linkin, josta pääset vaihtamaan salasanasi.
                </p>
                <form role="form" name="form" novalidate>
                    <div class="form-group">
                        <label for="email">Sähköpostiosoite</label>
                        <input type="email" class="form-control" id="email" placeholder="Sähköpostiosoite" ng-model="user.email" required>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default" ng-click="remind()" ng-disabled="form.$invalid">Lähetä</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div style="margin-top: 20px;">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
            </div>
        </div>
    </div>

</div>
