<div ng-controller="IndexCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1>Testit</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default test-panel" ng-repeat="test in tests" ng-click="goToTest(test.id)">
                    <div class="panel-body">
                        <h4>{{test.title}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>